@model BenzinStationApp.Models.PetrolStation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>PetrolStation</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Street)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Street)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Number)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Number)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PostalCode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PostalCode)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.City)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.City)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
    @Html.ActionLink("Add Price", "AddPrice",new {id = Model.Id})
</p>
